/* #main {
  display: flex;
  justify-content: space-evenly;
  border-style: dotted;
}

div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding: 25px;

}

main {
  border-style: dotted;
  background-color: aliceblue;
  font-style: sans-serif;
  color: grey;
  padding: 2rem;
  margin-bottom: auto;
}

div img:hover {
  background-color: bisque;
  transition: all .2s ease-in-out; 
 transform: scale(1.1); 
  opacity: 50%;
}

header {
  text-align: center;
  font-family:'Optima', Futara, 'Calibri', 'Lucida Sans', 'Arial', sans-serif;
  margin: auto;
  color: #0F2557;
  font-style: oblique;
  font-size: 40px;
  padding:1rem;
  align-self: center;
  background-color: bisque;
}

h3 {
  text-align: center;
  font-family:'Optima', Futara, 'Calibri', 'Lucida Sans', 'Arial', sans-serif;
  margin: auto;
  color: #0F2557;
  font-style: oblique;
  font-size: 40px;
  padding:1rem;
} */
/* #main {
  display: flex;
  justify-content: space-evenly;
}

div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding: 25px;
} */
* {
  box-sizing: border-box;
  font-family: 'Inconsolata', cursive;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:aliceblue;
  color:rgb(8, 8, 8);
}

h1 {
  font-family: 'Inconsolata', cursive;
  font-size: 45px;
  color: rgb(12, 11, 10);
}

h3 {
  font-size: 25px;
}

header {
  width: 900px;
  margin: 2rem auto 1rem;
  align-items: center;
}

main {
  width: 900px;
  margin: 0 auto 2rem;
}

ul li {
  line-height: 160%;
}

/* -- VOTING BLOCK -- */

section {
  background-color: aliceblue;
  border-style:inset;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
}

section img {
  width: 30%;
  margin: 1rem;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px dotted rgb(40, 36, 30);
  cursor: pointer;
}

/* -- button -- */

section + div {
  background-color: lightseagreen;
  color: rgb(36, 18, 18);
  padding: .5rem 1rem;
  width: max-content;
  font-size: .8rem;
  pointer-events: none;
}

section + div.clicks-allowed {
  background-color: lightskyblue;
  color: white;
  cursor: pointer;
  pointer-events: auto;
}

section + div.clicks-allowed:hover {
  background-color: aliceblue;
}